<%= form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :title, "Заголовок", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, "Содержание", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total_answers_weight, "Символов в ответах", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_answers_weight, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :marker, "Метка", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :marker, Question::MARKERS.map { |marker| [t(marker), marker] }, include_blank: 'без метки', :class => 'form-control' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>
