<tr id="<%= dom_id question %>">
  <td><%= question.forum.destination.name %></td>
  <td><%= question.forum.name %></td>
  <td><%= link_to question.title, question_path(question) %></td>
  <td><%= "#{question.content.try(:[], 0..140)}..." %></td>
  <td><%= question.total_answers_weight %></td>
  <td><%= question.views_count || "..." %></td>
  <td>
    <div class="btn-group-vertical btn-group-xs">
      <%= markers_for question %>
    </div>
  </td>
</tr>