var question = $("#question_<%= params[:question_id] %>");
question.find(".disabled").removeClass("disabled").removeClass("btn-success");
question.find(".<%= params[:marker] %>").addClass("disabled").addClass("btn-success");