<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t 'Questions' %></h1>
  <!-- <%= link_to "Продолжить парсинг", resume_parse_questions_path %> -->
</div>

<div id="search">
  <h2>Поиск</h2>
  <%= search_form_for @search, class: "form-inline" do |f| %>
    <div class="form-group">
      <%= f.label :title_cont, "Тема", class: "sr-only" %>
      <%= f.text_field :title_cont, class: "form-control", placeholder: "Тема" %>
    </div>
    <div class="form-group">
      <%= f.label :forum_name_cont, "Форум", class: "sr-only" %>
      <%= f.text_field :forum_name_cont, class: "form-control", placeholder: "Форум" %>
    </div>
    <div class="form-group">
      <%= f.label :marker_eq, "Метка ", class: "sr-only" %>
      <%= f.select :marker_eq, Question::MARKERS.map { |marker| [t(marker), marker] },{include_blank: true}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :source_eq, "Иточник "%>
      <%= f.select :source_eq, [["TripAdvisor", Parser::TripAdvisor::SOURCE]],{include_blank: "LonleyPlanet"}, {class: "form-control"} %>
    </div>
    <p>
    <div class="form-group">
      <%= f.label :views_count_gteq, "Просмотров больше чем " %>
      <%= f.text_field :views_count_gteq, class: "form-control", placeholder: "5" %>
    </div>
    <p>
    <div class="form-group">
      <%= f.label :longest_answer_length_gteq, "Длина максимального ответа больше чем " %>
      <%= f.text_field :longest_answer_length_gteq, class: "form-control", placeholder: "1000" %>
    </div>
    <p>
    <div class="form-group">
      <%= f.label :max_strange_answer_length_gteq, "Длина максимального чужого ответа больше чем " %>
      <%= f.text_field :max_strange_answer_length_gteq, class: "form-control", placeholder: "1000" %>
    </div>
    <p>
    <div class="form-group">
      <%= f.label :date_gteq, "Дата публикации с "%>
      <%= f.date_field :date_gteq, class: "form-control" %>
      <%= f.label :date_lteq, "до " %>
      <%= f.date_field :date_lteq, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Поиск", class: "btn btn-info form-control", id: "search_btn" %>
    </div>
  <% end %>
</div>
<%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1">Направление</th>
      <th class="col-md-1">Форум</th>
      <th class="col-md-3">Тема</th>
      <th class="col-md-6">Вопрос</th>
      <th class="col-md-2"><%= sort_link @search, :total_answers_weight, "Символов в ответе" %></th>
      <th class="col-md-2">Просмотров</th>
      <th class="col-md-2">Метка</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions, cache: true %>
  </tbody>
</table>
<%= will_paginate @questions, renderer: BootstrapPagination::Rails %>

