<%- model_class = Question -%>
<div class="page-header">
  <h1>Вопрос</h1>
</div>

<dl id="question_<%= @question.id %>" class="dl-horizontal">
  <dt><strong>Тема:</strong></dt>
  <dd><%= @question.title %></dd>
  <dt><strong>Форум:</strong></dt>
  <dd><%= @question.forum.name %></dd>
  <dt><strong>Вопрос:</strong></dt>
  <dd><%= @question.content || "&nbsp;" %></dd>
  <dt><strong>Дата:</strong></dt>
  <dd><%= @question.date.try(:strftime, "%d.%m.%Y") || "&nbsp;" %></dd>
  <dt><strong>Просмотров:</strong></dt>
  <dd><%= @question.views_count %></dd>
  <dt><strong>Оригинал:</strong></dt>
  <dd><%= link_to @question.url, @question.url %></dd>
  <dt><strong>Количество символов в ответах:</strong></dt>
  <dd><%= @question.total_answers_weight || "" %></dd>
  <dt><strong>Маркер:</strong></dt>
  <dd><%= markers_for @question %></dd>
  <!-- <dd><%= t @question.marker %></dd> -->
</dl>
<h2>Ответы</h2>
<div class="checkbox">
  <label>
    <input type="checkbox" id="hide_owner" /> cкрыть ответы автора
  </label>
</div>
<%= will_paginate @answers, renderer: BootstrapPagination::Rails %>
<br>
<div class="container-fluid">
<% @answers.each do |answer| %>
  <div class="answer <%= 'author' if answer.author == @question.author %>">
    <%= answer.content %>
  </div>
<% end %>
</div>
<%= will_paginate @answers, renderer: BootstrapPagination::Rails %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              questions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              question_path(@question),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
