// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.author {
  background: #eee
}
.answer {
  margin: 10px;
  border-bottom: 2px solid gray;
}